
body {
  background-image: url('csm_World_Suicide_Day_6203da5234.JPG');
  #background-size: cover;
  #background-repeat: no-repeat;
  margin: 0px;
}

#title {
  text-align: center;
}

.create_container2 {
  border-radius: 15px;
  background-color: #010915;
  margin: 10px;
  padding: 15px;
  position: relative;
  box-shadow: 2px 2px 2px 2px #010915;
}

.create_container1 {
  margin: 0 auto;
  }

.dcc_compon {
  margin: 0 auto;
  padding: 5px;
  width: calc(100%-40px);
}

.fix_label {
  font-size: 20px;
  margin: 0 auto;
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  width: calc(100%-40px);
}

.container-display {
  display: flex;
}

#header {
  align-items: center;
}

.flex-display {
  display: flex;
}

#mainContainer {
  display: flex;
  flex-direction: column;
}
